


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>쇼핑몰 하단 만들기</title>

    <link rel="stylesheet" href="introduction.css" />
  </head>
  <body>
    <div class="container">
      <header id="intro">
        <h1>
          <a href="https://www.notion.so/elice/15-Try-Catch-07a058cda6114947b79f96429cf9f545">Try, Catch! 팀원들을 소개합니다!</a>
        </h1>


      <main role="main" id="main">
        <article class="one">
          <a href="#">
            <img
              src="https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYXJhY3RlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
              alt="이유진이미지"
            />
            <h2>이유진</h2>
            <h4>프론트엔드 개발자를 지망합니다. 자신있는 거는~</h4>
          </a>
        </article>

        <article class="two">
          <a href="#">
            <img src="https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYXJhY3RlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="석윤주이미지" />
            <h2>석윤주</h2>
            <h4>프론트엔드 개발자를 지망합니다. 자신있는 거는~</h4>
          </a>
        </article>

        <article class="three">
          <a href="#">
            <img src="https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYXJhY3RlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="한지선" />
            <h2>한지선</h2>
            <h4>프론트엔드 개발자를 지망합니다. 자신있는 거는~</h4>
          </a>
        </article>

        <article class="four">
          <a href="#">
            <img src="https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYXJhY3RlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="박지수" />
            <h2>박지수</h2>
            <h4>백엔드 개발자를 지망합니다. 자신있는 거는~</h4>
          </a>
        </article>


        <article class="five">
          <a href="#">
            <img src="https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYXJhY3RlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="유하얀" />
            <h2>유하얀</h2>
            <h4>백엔드 개발자를 지망합니다. 자신있는 거는~</h4>
          </a>
        </article>

        <article class="six">
            <a href="#">
              <img src="https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYXJhY3RlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="정예승" />
              <h2>정예승</h2>
              <h4>백엔드 개발자를 지망합니다. 자신있는 거는~</h4>
            </a>
          </article>

      <footer id="footer">
        <div class="copyright">
          <p>Copyright © 2021-2022 Try, Catch!. All rights reserved.</p>
        </div>

        <div class="address">
          <p>Try, Catch!</p>
        </div>
      </footer>
    </div>
  </body>
</html>
