#Community {
  padding: 0 100px;
  margin: 80px 0;
}

#RightPostList {
  padding-top: 0 !important;
  padding-left: 100px;
}

#LeftMenu {
  height: 255px !important;
}

.PostItem {
  margin: 25px 0;
}
