* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  min-width: 510px !important;
  font-family: "Noto Sans KR" !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  letter-spacing: 0 !important;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
}

.text-primary {
  font-size: 12px;
  margin: 5px 0 0 0;
}

#loginSubminBtn {
  margin-top: 30px;
}

.LinkCursor {
  cursor: pointer;
}
